@use '@styles/variables' as *;

.header {
   
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    background-color: $background-dark;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid $danger-color;
    max-width: 1200px;
    margin: 0 auto;
       
}

.block {
    display: flex;
    justify-content: center;
    flex:1;
    align-items: center;
    max-width: 600px;
    height: 70px;
    background-color: $background-gray;
    margin-left:20px;

    @media (max-width: 600) {
        display: none;
    }
}
    


.logo {
    a {
        font-size: $font-size-xxxl;
        font-weight: 700;
        color: $text-white;
        text-decoration: none;
        letter-spacing: 0.5px;

        &:hover {
            color: $secondary-color;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;

   
}

.navLink {
    color: #333333;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 0;
    position: relative;
    transition: color 0.2s ease;
    cursor: pointer;

    &:hover {
        color: $secondary-color;
    }
}


.authSection {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userName {
    font-size: 14px;
    color: #666666;
    font-weight: 500;

    @media (max-width: 768px) {
        display: none;
    }
}
